enron_mail.tar.gz
.idea/copilot.data.migration.ask2agent.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.DS_Store
.idea/Spy-Networks-Covert-Communication-Patterns-in-Social-Media.iml
.idea/modules.xml
